<div class="main blog-post">
  <div class="container">
    
    <div class="specfic-post">
      <div class="info">
        <h3 class="title"><%= @blog.title %>  </h3>
      </div>
    </div>

 

  </div>
</div>




    

