.lead{
    font-style: oblique;
    position: relative;
    left: 12%;
    
}
.content{
    text-align: left;
    position: absolute;
    top: 65%;
    left: 16%;
    right: 20%;
    padding-bottom: 10%;
}

.btn1 {

    position: absolute;
    top: 30%;
    right: 10%; 
}

.edit-btn  {
    position: absolute;
    top: 30%;
    right: 20%;
    }


.list-inline-item{
    position: relative;
    left: 9%;

}
.comments{
    margin-bottom: 20%;
    position: absolute;
    bottom: -80%;
    margin-top: -10px ;
    padding-bottom: 100px;
    padding-top: -10px;
    

}


